:root {
  --color-black: #212121;
  --color-blue: #2196f3;
  --color-grey: #757575;
  --color-white: #ffffff;
}
body {
  background-color: var(--color-white);
  color: var(--color-grey);
  font-family: Roboto, Arial, Helvetica, sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 1.14;
}

.list {
  list-style: none;
}
/*  header */

.nav-list {
  font-weight: 500;
}
.nav-logo {
  font-family: Raleway;
  font-weight: 700;
  font-size: 26px;
  line-height: 1.19;
  letter-spacing: 0.03em;
  text-decoration: none;
  color: var(--color-black);
}
.logo-web {
  color: var(--color-blue);
}
.link {
  text-decoration: none;
  color: var(--color-black);
}
.link:hover,
.link:focus {
  color: var(--color-blue);
}
.nav-item > .active {
  color: var(--color-blue);
}
.contact-link {
  font-weight: 500;
  color: var(--color-grey);
}

/* hero */

.hero-title {
  font-weight: 900;
  font-size: 44px;
  line-height: 1.36;
  text-align: center;
  letter-spacing: 0.06em;
  text-transform: uppercase;
  color: var(--color-white);
}
.hero-section {
  background-color: #2f303a;
}
.button {
  background-color: var(--color-blue);
  color: var(--color-white);
  font-weight: 700;
  font-size: 16px;
  line-height: 1.87;
  border-radius: 4px;
  cursor: pointer;
}
.about-title {
  text-transform: uppercase;
  color: var(--color-black);
  font-size: 14px;
}
.about-work {
  color: var(--color-black);
  text-align: center;
  font-size: 36px;
}

/* team */

.our-team {
  color: var(--color-black);
  text-align: center;
  font-size: 36px;
}
.title {
  font-weight: 700;
}
.employer {
  color: var(--color-black);
  font-weight: 500;
  text-align: center;
  font-size: 16px;
  line-height: 1.19;
}
.employer-text {
  text-align: center;
  font-size: 16px;
  line-height: 1.19;
}

/* footer*/

.footer-logo {
  color: var(--color-white);
}
.footer {
  background-color: #2f303a;
}
.adress {
  font-style: normal;
  font-size: 14px;
  line-height: 1.71;
  color: var(--color-white);
}
.link-footer {
  text-decoration: none;
  color: rgba(255, 255, 255, 0.6);
  font-style: normal;
  font-size: 14px;
  line-height: 1.71;
}
.link-footer:hover,
.link-footer:focus {
  color: var(--color-blue);
}
.button-filter {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.62;
  text-align: center;
  background-color: #f5f4fa;
  color: var(--color-black);
  font-family: Roboto;
  cursor: pointer;
}
.button-filter:hover,
.button-filter:focus {
  color: var(--color-white);
  background-color: var(--color-blue);
}
.galery-title {
  color: var(--color-black);
  font-weight: 700;
  font-size: 18px;
  line-height: 2;
}
.galery-text {
  color: var(--color-grey);
  font-size: 16px;
  line-height: 1.9;
}
